{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-3">About Fort Smythe</h1>
            <hr>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus massa, iaculis eget semper vel, tincidunt ut purus. Nulla rhoncus arcu consectetur luctus gravida. Pellentesque elementum massa et semper cursus. Nunc dignissim tristique tortor. Aliquam sodales erat a libero sagittis porta. Curabitur quis sem sollicitudin, lacinia libero at, placerat erat. Curabitur quis dictum nulla. Proin facilisis scelerisque urna, sit amet pulvinar purus pharetra nec. Cras vitae nisi pretium, tempus dui sit amet, dapibus mi. Fusce pulvinar odio lectus, id lobortis ipsum aliquam at.

                Vivamus et vulputate felis. Donec gravida sed augue id dapibus. Donec nec imperdiet sapien. Ut sit amet dolor vitae dolor pellentesque ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer convallis velit vel porta fermentum. Cras varius diam in pretium efficitur. Nam tincidunt blandit eros at fermentum. Maecenas porta, lorem eu tincidunt volutpat, ipsum diam iaculis tellus, ut tincidunt nisi magna a sem. Nam euismod turpis suscipit elementum euismod. Pellentesque vestibulum dolor laoreet, fermentum ipsum at, ultrices ipsum. Ut vehicula leo eget pharetra vulputate.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus massa, iaculis eget semper vel, tincidunt ut purus. Nulla rhoncus arcu consectetur luctus gravida. Pellentesque elementum massa et semper cursus. Nunc dignissim tristique tortor. Aliquam sodales erat a libero sagittis porta. Curabitur quis sem sollicitudin, lacinia libero at, placerat erat. Curabitur quis dictum nulla. Proin facilisis scelerisque urna, sit amet pulvinar purus pharetra nec. Cras vitae nisi pretium, tempus dui sit amet, dapibus mi. Fusce pulvinar odio lectus, id lobortis ipsum aliquam at.

                Vivamus et vulputate felis. Donec gravida sed augue id dapibus. Donec nec imperdiet sapien. Ut sit amet dolor vitae dolor pellentesque ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer convallis velit vel porta fermentum. Cras varius diam in pretium efficitur. Nam tincidunt blandit eros at fermentum. Maecenas porta, lorem eu tincidunt volutpat, ipsum diam iaculis tellus, ut tincidunt nisi magna a sem. Nam euismod turpis suscipit elementum euismod. Pellentesque vestibulum dolor laoreet, fermentum ipsum at, ultrices ipsum. Ut vehicula leo eget pharetra vulputate.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lectus massa, iaculis eget semper vel, tincidunt ut purus. Nulla rhoncus arcu consectetur luctus gravida. Pellentesque elementum massa et semper cursus. Nunc dignissim tristique tortor. Aliquam sodales erat a libero sagittis porta. Curabitur quis sem sollicitudin, lacinia libero at, placerat erat. Curabitur quis dictum nulla. Proin facilisis scelerisque urna, sit amet pulvinar purus pharetra nec. Cras vitae nisi pretium, tempus dui sit amet, dapibus mi. Fusce pulvinar odio lectus, id lobortis ipsum aliquam at.

                Vivamus et vulputate felis. Donec gravida sed augue id dapibus. Donec nec imperdiet sapien. Ut sit amet dolor vitae dolor pellentesque ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer convallis velit vel porta fermentum. Cras varius diam in pretium efficitur. Nam tincidunt blandit eros at fermentum. Maecenas porta, lorem eu tincidunt volutpat, ipsum diam iaculis tellus, ut tincidunt nisi magna a sem. Nam euismod turpis suscipit elementum euismod. Pellentesque vestibulum dolor laoreet, fermentum ipsum at, ultrices ipsum. Ut vehicula leo eget pharetra vulputate.
            </p>

        </div>
    </div>
</div>
{{end}}